@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f5f3f3;
}

.active {
  background-color: rgb(51, 230, 51);
  color: white;
  border-radius: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
